body {
    font-size: 14px;
}
/* Theme color settings */
.text-theme {
	color:#4e73df !important;
}
.bg-theme {
	background:#4e73df !important;
}
.bg-dark-theme {
	background:#222d32 !important;
}
.btn-theme {
	color:#EEE !important;
	background:#4e73df !important;
}
.list-group-theme .list-group-item {
	background:#4e73df;
	padding:0.25rem 1.25rem;
}
.list-group-theme .list-group-item a {
	color:#b8c7ce;
}
.navbar-theme {
	background:#4e73df;
	-webkit-box-shadow: 0 3px 3px -3px #222;
	-moz-box-shadow: 0 3px 3px -3px #222;
	box-shadow: 0 3px 3px -3px #222;
}
.box-theme, .transition {
	transition: 0.3s;
}
.box-theme:hover {
	box-shadow:0 0 2px #888;
	opacity:0.8;
	margin:-2px;
}
.text-theme-inverse {
	color:#b8c7ce;
}
.bg-theme-inverse {
	background:#4e73df;
}
.btn-theme-inverse {
	color:#b8c7ce;
	background:#4e73df;
}
.flex-end {
	justify-content:flex-end;
}
.text-small {
	font-size:8px;
}
/* Dashboard menu */
.list-group-transparent .list-group-item {
	background:#343a40;
	padding:0.25rem 1.25rem;
}
.list-group-transparent .list-group-item a {
	color:#b8c7ce;
}
/*Collapse icon */
[data-toggle="collapse"] .fa.collapse-icon:before {   
	content: "\f0da";
	position:absolute;
	right:5px;
	top: 50%;
	transform: translate(0, -50%);
}
[data-toggle="collapse"].active:not(.collapsed) .fa.collapse-icon:before, [data-toggle="collapse"][aria-expanded="true"] .fa.collapse-icon:before {   
	content: "\f0d7";
	position:absolute;
	right:5px;
	top: 50%;
	transform: translate(0, -50%);
}

/* Transition */
.hover-move {
	transition: 0.3s;
	box-sizing:border-box;
}
.nav-link:hover .hover-move, .list-group-item:hover .hover-move {
	margin-left:5px;
}
/*View port height matching*/
.vp-h-55-md { /*height minus 55px;*/
	overflow-y:scroll;
}
/* Breadcum style */
.p-r {
	position:relative;
}
/* Responsive table with sorting */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .5em;
}
/* Admin LTE edit */
.content-header {
	padding: 15px 0;
}
.content-header small {
	font-size:15px;
	color:#888;
}
/* Fancy Tabs starts; prepared by rejauldu@gmail.com */
.fancy-tab li {
	text-align: center;
	padding:15px 0;
	background-color: #eee;
	top:15px;
	position:relative;
	border:1px solid #DDD;
}
.fancy-tab li.active {
	top:0;
	transition:top .2s;
	border:transparent;
	background: #fff;
	box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
	padding-bottom:30px;
}
.fancy-tab li a {
	font-family: 'Source Sans Pro';
	font-weight:300;
	transition:.2s;
	color:#333;
}

.fancy-tab li .fa {
	width:100%;
	color:#666;
}
.fancy-tab li.active .fa {
	color: #cfb87c;
}
.fancy-tab-content {
	border-color: transparent;
	box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
	padding: 30px 15px 15px;
	position:relative;
	background-color:#fff;
}
.fancy-tab li:hover {
	background-color:#f9f9f9;
}
.fancy-tab .arrow-down {
	display:none;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 22px solid #ddd;
	position: absolute;
	top: -1px;
	left: calc(50% - 20px);
}
.fancy-tab .arrow-down-inner {
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 12px solid #fff;
	position: absolute;
	top: -22px;
	left: -18px;
}
.fancy-tab li.active .arrow-down {
	display: block;
}
/*Fixing*/
.nav-pills.fancy-tab>li.active>a, .nav-pills.fancy-tab>li.active>a:hover, .nav-pills.fancy-tab>li.active>a:focus {
	border-top-color:transparent;
}
.nav.fancy-tab>li>a:hover, .nav.fancy-tab>li>a:active, .nav.fancy-tab>li>a:focus {
	background:transparent;
}
.nav-tabs.fancy-tab .nav-item.show .nav-link, .nav-tabs.fancy-tab .nav-link, .nav-tabs.fancy-tab .nav-item.show .nav-link:hover, .nav-tabs.fancy-tab .nav-item.show .nav-link:focus {
	background-color: transparent;
	border-color: transparent;
}
@media screen and (min-width: 768px) {
	.fancy-tab li a {
		font-size:1.65em;
	}
	.fancy-tab li .fa {
		font-size: 40px;
		padding: 15px 0 5px;
	}
}
/* Fancy Tabs ends */
/* Adminlte b-3 update */
.nav-theme>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}